---
layout: doc
title: Screenshots
---

<div style="text-align: center;">
  {% assign img = "Screenshots/testing_tool.png" %}{% assign attr = "width='471' height='243'" %}{% include elem/lightbox %}
  {% assign img = "Screenshots/menu.png" %}{% assign attr = "width='298' height='275'" %}{% include elem/lightbox %}
  {% assign img = "Screenshots/0.3_env_variables.png" %}{% assign attr = "width='369' height='143'" %}{% include elem/lightbox %}
  {% assign img = "examples/csharp_FilesMode_flag.png" %}{% assign attr = "width='240' height='179'" %}{% include elem/lightbox %}
  {% assign img = "examples/CommandEvent.gif" %}{% assign attr = "" %}{% include elem/lightbox %}
  {% assign img = "dlg/confirmation.png" %}{% assign attr = "width='255' height='143'" %}{% include elem/lightbox %}
  {% assign img = "examples/VersionClass.gif" %}{% assign attr = "" %}{% include elem/lightbox %}
  
</div>