---
layout: doc
title: Screenshots
---

<div style="text-align: center;">
  {% assign img = "Screenshots/main_v1.0.png" %}{% assign attr = "width='543' height='279'" %}{% include elem/lightbox %}
  {% assign img = "examples/AboutVS.gif" %}{% assign attr = "width='610' height='300'" %}{% include elem/lightbox %}
  {% assign img = "Screenshots/testing_tool.png" %}{% assign attr = "width='471' height='243'" %}{% include elem/lightbox %}
  {% assign img = "Screenshots/menu.png" %}{% assign attr = "width='298' height='275'" %}{% include elem/lightbox %}
  {% assign img = "Screenshots/vsCommandEvent_menu.png" %}{% assign attr = "width='352' height='53'" %}{% include elem/lightbox %}
  {% assign img = "Screenshots/Automatic_Version_Numbering.png" %}{% assign attr = "width='467' height='301'" %}{% include elem/lightbox %}
  {% assign img = "app/mode_operation_list.png" %}{% assign attr = "width='557' height='119'" %}{% include elem/lightbox %}
  {% assign img = "Screenshots/0.3_env_variables.png" %}{% assign attr = "width='369' height='143'" %}{% include elem/lightbox %}
  {% assign img = "examples/csharp_FilesMode_flag.png" %}{% assign attr = "width='240' height='179'" %}{% include elem/lightbox %}
  {% assign img = "examples/stop_build.png" %}{% assign attr = "width='783' height='160'" %}{% include elem/lightbox %}
  {% assign img = "examples/CommandEvent.gif" %}{% assign attr = "" %}{% include elem/lightbox %}
  {% assign img = "examples/EnvCommand.png" %}{% assign attr = "width='651' height='234'" %}{% include elem/lightbox %}
  {% assign img = "examples/cmds/live.gif" %}{% assign attr = "width='610' height='300'" %}{% include elem/lightbox %}
  {% assign img = "dlg/confirmation.png" %}{% assign attr = "width='255' height='143'" %}{% include elem/lightbox %}
  {% assign img = "examples/VersionClass.gif" %}{% assign attr = "" %}{% include elem/lightbox %}
  
</div>